@import 'colors';
@import 'layout';
@import 'typography';

@mixin shadow {
  box-shadow: 3px 3px 5px#444;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
  display: block;
}

input {
  display: block;
  height: 60px;
  width: 100%;
  background: $input-background;
  color: $secondary;
  font-family: $font-family;
  border: none;
  padding: 0 1px;

  &::-webkit-calendar-picker-indicator {
    filter: $blackToPrimaryFilter;
    cursor: pointer;

    &:hover {
      filter: $blackToSecondaryFilter;
    }
  }
}

textarea {
  background: $input-background;
  color: $secondary;
  height: 9em;
  font-family: $font-family;
}

button {
  background: $secondary;
  color: $primary;
  font-family: $font-family;
  border: none;
  padding: 0.5em 1.5em;
  border-radius: 0.5em;
  @include shadow;
  cursor: pointer;

  &.stretch {
    width: 100%;
  }

  &:hover {
    background-color: $secondary-light;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.icon-btn {
  cursor: pointer;
}

.card {
  padding: 20px;
  border-radius: 20px;
  border: 1px solid $primary-light;
  @include shadow;
}

.piece {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid $primary-light;
  border-radius: 20px;
  padding: 10px 20px;
  gap: 5px;
}

.list-item {
  .heading {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    h3 {
      color: $primary;
    }
  }

  .subtitle {
    margin-top: -24px;
  }

  .bottom {
    display: flex;
    font-style: italic;
    width: 100%;
    justify-content: flex-end;
  }
}

@mixin banner($font-size: 1.5em, $padding: 20px) {
  font-size: $font-size;
  margin-left: -$padding;
  padding: 20px;
  padding-left: $padding;
  border-radius: 0 20px 20px 0;
  @include shadow;
  color: $primary;
  background-color: $secondary;
  width: max-content;
}
