.row {
  display: flex;
  height: fit-content;
  flex-direction: row;
  flex-wrap: wrap;
}

.row-bottom {
  align-items: flex-end;
}

.column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.flex {
  flex: 1;
}

@media (max-width: 600px) {
  .row {
    flex-direction: column;
  }

  .row-bottom {
    align-items: center;
  }
}
