$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';

@import 'defaults';
@import 'typography';
@import 'colors';
@import 'components';
@import 'layout';

// Debug only
* {
  border: 1px solid black;
}

body {
  background: $white;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  padding: 5px;
  min-width: fit-content;

  #app {
    display: flex;
    flex-direction: column;
    min-height: 97vh;
    background: $background;

    header {
      font-size: 48px;
    }

    main {
      display: grid;
      grid-template-areas:
        'search  result  result'
        'travels travels travels';
      #search-section {
        grid-area: search;
      }

      #result-section {
        grid-area: result;
      }

      #travels-section {
        grid-area: travels;
      }
    }

    section {
    }
  }
}
