{
  "env": {
    "dev": {
      "presets": ["@babel/preset-env"],
      "plugins": ["@babel/transform-runtime"]
    },

    "test": {
      "presets": ["@babel/preset-env"],
      "plugins": ["@babel/transform-runtime", "transform-require-context"]
    }
  }
}
