<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather Journal</title>
</head>

<body>
  <div id="app">
    <div class="holder headline">
      <i class="fas fa-umbrella-beach"></i>
      Weather Journal App
    </div>
    <div class="row">
      <div class="holder country">
        <label for="city">Destination</label>
        <input type="text" id="city" placeholder="enter your city here">
      </div>
    </div>
    <div class="row">
      <div class="holder start-date">
        <label for="start">Start Date</label>
        <input type="date" id="start" name="trip-start">
      </div>
      <div class="info-text" id="new-countdown"></div>
    </div>
    <div class="row">
      <div class="holder end-date">
        <label for="end">End Date</label>
        <input type="date" id="end" name="trip-end">
      </div>
      <div class="info-text" id="new-nights"></div>
    </div>
    <div class="row row-bottom">
      <div class="holder feel">
        <label for="feelings">How are you feeling today?</label>
        <textarea class="myInput" id="feelings" placeholder="Enter your feelings here" rows="9" cols="50"></textarea>
      </div>
      <button id="generate" type="submit"> Generate </button>
    </div>

    <div class="row">
      <div class="holder entry">
        <div class="title">Most Recent Entry</div>
        <div id="entryHolder">
          <div id="date"></div>
          <div id="temp"></div>
          <div id="content"></div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>