<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel Planer</title>
</head>

<body>
  <div id="app">
    <header>
      <i class="fas fa-umbrella-beach"></i>
      Travel Planer
    </header>
    <main>
      <!-- Section - Destination Search -->
      <section id="search-section" class="card">
        <h2>Where are you going?</h2>
        <form>
          <div class="field city">
            <label for="city">Destination</label>
            <input type="text" id="city" placeholder="enter your city here" value="Andernach">
          </div>
          <div class="field start-date">
            <label for="start">Start Date</label>
            <input type="date" id="start" name="trip-start">
          </div>
          <div class="field end-date">
            <label for="end">End Date</label>
            <input type="date" id="end" name="trip-end">
          </div>
          <div class="piece duration">
            <span id="duration">End Date</span>
          </div>
        </form>
        <button id="btn-search" class="stretch" type="submit"> Search </button>
      </section>
      <!-- Section End - Destination Search -->
      <!-- Section - Search Result -->
      <section id="result-section" class="card">
        <div class="no-trip">Your next destination?</div>
        <div class="grid">
          <div class="header">
            <h2>My trip to: <span id="city_name"></span></h2>
            <div class="subtitle"><span>Located at&nbsp;<span id="lon"></span>,&nbsp;<span
                  id="lat"></span>&nbsp;-&nbsp;<span id="country"></span>&nbsp;(<span id="country_code"></span>)</div>
          </div>
          <div class="piece length">
            <div class="row">
              <div class="column">
                <i>✈️</i><span class="subtitle">Departure</span>
              </div>
              <span class="info-text" id="countdown"></span>
            </div>
            <div class="row">
              <div class="column">
                <i>🛌</i>
                <span class="subtitle">Stay</span>
              </div>
              <span class="info-text" id="stay"></span>
            </div>
          </div>
          <div class="piece image">
            <img id="image" alt="Image of the destination" />
          </div>
          <div class="weather">
            <h3>Current Weather</h3>
            <div class="piece">
              <div class="column">
                <span id="temp"></span>
                <span class="subtitle">C°</span>
              </div>
              <div class="column">
                <div id="icon"></div>
                <span id="weather_text" class="subtitle"></span>
              </div>
              <div class="column">
                <span id="wind_spd"></span>

                <span class="subtitle">km/h</span>
              </div>
              <div class="column">
                <span id="wind_dir"></span>
                <span class="subtitle">Direction</span>
              </div>
            </div>
          </div>
          <div class="historic">
            <h3>Typical Weather</h3>
            <div class="piece">
              <div class="column">
                <span class="value-wrapper"><span id="hist_min"></span><sup>°C</sup></span>
                <span class="subtitle">Min</span>
              </div>
              <div class="column">
                <span class="value-wrapper"><span id="hist_max"></span><sup>°C</sup></span>
                <span class="subtitle">Max</span>
              </div>
              <div class="column">
                <span class="value-wrapper"><span id="hist_clouds"></span><span>%</span></span>
                <span class="subtitle">Clouds</span>
              </div>
              <div class="column">
                <span id="hist_spd"></span>
                <span class="subtitle">km/h</span>
              </div>
            </div>
          </div>
        </div>

        <div class="bottom">
          <button id="btn-save" class="primary">Save Trip</button>
          <p id="created"></p>
        </div>


      </section>
      <!-- Section End - Search Result -->
      <!-- Section - Travel Grid -->
      <section id="travels-section">
        <div class="card">
          <div class="heading">
            <h2>All Travels</h2>
            <button id="btn-clear-trips">Clear Trips</button>
          </div>
          <div id="travel-grid"></div>
        </div>

      </section>
      <!-- Section End - Travel Grid -->
    </main>
  </div>
  <footer>
  </footer>
  </div>
</body>

</html>